<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>

  <% include navbar %>
  <div class="container">

    <section id="idea">
    <div class="page-header text-center">
      <h2>Add Idea</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
	  <form>
	    <div class="form-group">
	      <label for="title">Title</label>
	      <input type="text" class="form-control" id="title" placeholder="Title for the idea">
	    </div>
	    <div class="form-group">
              <label for="description">Description</label>
	      <textarea class="form-control" rows="10" id="description" placeholder="Detailed description of the idea"></textarea>
	    </div>
	    <div class="form-group">
	      <label for="roles">Roles</label>
	      <span id="roles" class="help-block">Select roles for wanted volunteers</span>
	      <ul>
	      <% for(var i = 0; i < roles.length; i++) {%>
		 <label class="checkbox">
		   <input type="checkbox" value="<%= roles[i].id %>" id="role_<%= roles[i].short_name %>">
		   <%= roles[i].name %>
		 </label>
	      <% } %>
	      </ul>
<!--	      <div class="row">
		<div class="col-md-1">
		  <label class="checkbox">
                    <input type="checkbox" value="" id="role_other">
		    Other:
		  </label>
		</div>
		<div class="col-md-11">
		  <input type="text" class="form-control" id="role_other_description" placeholder="Describe..." disabled>
		</div>
	      </div>
	    </div>-->
	    <!--<div class="form-group">
	      <label for="photo">Photo</label>
	      <span class="help-block">For advertisement</span>
	      <input type="file" id="photo" accept="image/*">
	    </div>-->
	    <div class="form-group">
	      <label for="status">Status</label>
	      <span class="help-block">Current status of the idea</span>
	      <select id="status" name="status" class="form-control">
		<option>Cat gold - Just idea</option>
		<option>Gold - Under implementation</option>
		<option>Platinium - Implemented</option>
		<option>Diamond - Happy customers</option>
	      </select>
	    </div>
            <div class="form-group">
              <label for="site">Site</label>
	      <span class="help-block">You may include if there is already a web page or site for the idea</span>
              <input type="text" class="form-control" id="site" placeholder="http://yourideasite.com/">
            </div>
	    <div class="form-group">
              <label for="dev_site">Development site</label>
              <span class="help-block">You may include if there is already, for example, a GitHub project page</span>
              <input type="text" class="form-control" id="dev_site" placeholder="http://githobby.com/your/project">
            </div>
	    

	    <div class="row">
	      <div class="col-md-1">
	      	<a href="#" id="submit_button" class="btn btn-primary" onclick="$(this).closest('form').submit()">Submit</a>
	      </div>
	      <!--<div class="col-md-11">
		<div class="checkbox">
		  <label>
		    <% if (typeof user == "undefined") { %>
		    <input type="checkbox" id="cb_include_user_for_idea"> Include my name and contact info with the idea
		    <% } else { %>
		    <input type="checkbox" id="cb_include_user_for_idea" checked> Include my name and contact info with the idea
		    <% } %>
		  </label>
		</div>
	      </div>-->
	    </div>
	  </form>
	</div><!-- /panel-body -->
    </div><!-- /panel -->

    </section>
  </div><!-- /container -->

  <% include footer %>

  <script src="/vendor/js/jquery.min.js"></script>
  <script src="/vendor/js/bootstrap.min.js"></script>
  <script src="/vendor/js/jquery.easing.min.js"></script>
  <script src="/vendor/js/jquery.fittext.js"></script>
  <script src="/vendor/js/wow.min.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="/vendor/js/creative.js"></script>
  <script type="text/javascript">
    function htmlDecode(input){
    var e = document.createElement('div');
    e.innerHTML = input;
    return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }
    var user = JSON.parse(htmlDecode("<%= JSON.stringify(user) %>"));
    var roles = JSON.parse(htmlDecode("<%= JSON.stringify(roles) %>"));
  </script>
  <script type="text/javascript" src="/js/idea.js"></script>
</body>
</html>
