<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <% include navbar %>
  
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <!--<a href="/logout" class="btn btn-default btn-sm">Logout</a>-->
    </div>

<!--    <div class="row">

      <div class="col-sm-12">
	<div class="well">
	  <form>
	    <div class="form-group">
	      <label for="roleSelect">
		Choose the role best matching your skills:
	      </label>
	      <select id="role_select" name="roleSelect" class="form-control">
		<option>Choose role</option>
		<% for(var i = 0; i < roles.length; i++) {%>
                   <option id="role_<%= roles[i].short_name %>"><%= roles[i].name %></option>
		<% } %>
	        <option id="role_other">Other</option>
              </select>
	    </div>

	    <button id="role_save_button" type="button" class="btn btn-primary">Save</button>
	  </form>

	</div>
      </div>-->


      <% if (userRole == null) { %>
      <% } %>

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
		
		<% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

		    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                    <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                    <% } %>
            </div>
        </div>

	<!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
		
		<% if (user.facebook.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %>
                    </p>

		    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                    <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                    <% } %>
            </div>
        </div>

    </div>
    
    <div class="row">

      <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

		<% if (user.google.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>

		    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                    <% } else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                    <% } %>
            </div>
        </div>
      
    </div>

    <hr>
    <% include footer %>
  </div>
  <!-- /container -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    function htmlDecode(input){
    var e = document.createElement('div');
    e.innerHTML = input;
    return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }
    var user = JSON.parse(htmlDecode("<%= JSON.stringify(user) %>"));
    var userRole = JSON.parse(htmlDecode("<%= JSON.stringify(userRole) %>"));
    var roles = JSON.parse(htmlDecode("<%= JSON.stringify(roles) %>"));
  </script>
  <script type="text/javascript" src="/js/profile.js"></script>
</body>
</html>
