<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <% include navbar %>
  
<div class="container">

  <!--<ul class="nav nav-tabs" id="tab_profile_nav">
    <li role="presentation" class="active"><a href="#" id="a_tab_profile">Your Profile</a></li>
    <li role="presentation"><a href="#" id="a_tab_ideas">Your Ideas</a></li>
  </ul>-->

  <section id="profile">
  <div id="profile_tab_profile_div" class="container">
    <div class="page-header text-center">
        <h2><span class="fa fa-anchor"></span> Your Profile</h2>
    </div>
    
    <div class="alert alert-info" role="alert">The information you fill here will be publicly visible.</div>

      <form id="profile_form">
	<div class="profile_form_div">

	<div class="form-group">
	  <label for="userAvailable">I am able to volunteer currently:</label>
	  <div class="radio">
	    <label>
	      <input type="radio" name="userAvailable" id="userAvailableYes" value="yes" checked>
	      Yes
	    </label>
	  </div>
	  <div class="radio">
            <label>
              <input type="radio" name="userAvailable" id="userAvailableNo" value="no">
              No
            </label>
          </div>
	</div>

	<div class="form-group">
	  <label for="userRealName">Your name:</label>
	  <input type="text" class="form-control" id="userRealName" placeholder="Your full name">
	</div>

	<div class="form-group">
	  <label for="userDescription">Tell about you to others:</label>
	  <textarea id="userDescription" class="form-control" rows="3" placeholder="Interests, experience, ..."></textarea>
	</div>

        <p><b>Your main skills:</b></p> 
	<div id="div_skills">	  
	</div>
	<a href="#" id="user_profile_skill_button" class="btn btn-info">Add other skill</a>

	<p><b>Project roles interesting to you:</b></p>
	<div id="div_profile_roles">
	  <ul id="list_profile_roles">
	  </ul>
        </div>
	<p><b>Sites where people can find more information of you (for example, personal website, LinkedIn profile page, ...):</b></p>
	
	<div id="div_sites">
	</div>
	<a href="#" id="user_profile_site_button" class="btn btn-info">Add other site</a>

	</div> <!-- class="profile_form_div" -->

	<div class="profile_buttons_div">
	  <a href="#" id="profile_save_button" class="btn btn-primary">Save changes</a>
	</div>
      </form>

  </div> <!-- tab_profile_div -->
  </section>

  <hr>

  <section id="ideas">
  
  <div id="profile_tab_ideas_div" class="container">
    <div class="page-header text-center">
      <h2>Your Ideas</h2>
    </div>

    <ul id="idea_list" class="idea_list">
      <li>None yet
    </ul>
  </div>
  </section>

  <hr>

  <section id="social">
    <div class="page-header text-center">
      <h2>Linked Accounts</h2>
    </div>
    <div id="social_div">
      <div class="row">
	<div class="col-sm-6">
	  <div class="well">
            <h3 class="text-primary-bs"><span class="fa fa-facebook"></span> Facebook</h3>
		
	    <% if (user.facebook.token) { %>
            <!--<p>
              <strong>id</strong>: <%= user.facebook.id %><br>
              <strong>token</strong>: <%= user.facebook.token %><br>
              <strong>email</strong>: <%= user.facebook.email %><br>
              <strong>name</strong>: <%= user.facebook.name %>
            </p>-->
	
	    <a href="/unlink/facebook" class="btn btn-primary-bs">Unlink</a>
            <% } else { %>
            <a href="/connect/facebook" class="btn btn-primary-bs">Connect Facebook</a>
            <% } %>
	  </div>
	</div>
	<div class="col-sm-6">
          <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
	    
	    <% if (user.google.token) { %>
            <!--<p>
              <strong>id</strong>: <%= user.google.id %><br>
              <strong>token</strong>: <%= user.google.token %><br>
              <strong>email</strong>: <%= user.google.email %><br>
              <strong>name</strong>: <%= user.google.name %>
            </p>-->
	    
	    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
            <% } else { %>
            <a href="/connect/google" class="btn btn-danger">Connect Google</a>
            <% } %>
          </div>
	</div>
      </div>
    </div>
	 

  <!--<section id="messages">
    <div class="page-header text-center">
      <h2>Your Messages</h2>
    </div>
    
    <div id="messages_div">
      <p>No messages</p>
    </div>
  </section>-->
  
    <% include footer %>
  </div>
  <!-- /container -->
  <script src="/vendor/js/jquery.min.js"></script>
  <script src="/vendor/js/bootstrap.min.js"></script>
  <script src="/vendor/js/jquery.easing.min.js"></script>
  <script src="/vendor/js/jquery.fittext.js"></script>
  <script src="/vendor/js/wow.min.js"></script>
<!-- Custom Theme JavaScript -->
  <script src="/vendor/js/creative.js"></script>

  <script type="text/javascript" src="/vendor/js/moment-with-locales.min.js"></script>
  <script type="text/javascript">
    function htmlDecode(input){
    var e = document.createElement('div');
    e.innerHTML = input;
    return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }
    var user = JSON.parse(htmlDecode("<%= JSON.stringify(user) %>"));
  </script>
  <script type="text/javascript" src="/js/profile.js"></script>
  </body>
</html>
