<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <% include navbar %>

  <div class="container">

    <h1>Volunteer</h1>

    <div class="panel panel-default">
        <div class="panel-body">
	  
	  <form>
            <div class="form-group">
              <label for="roleSelect">
                Filter ideas by the role best matching your skills:
              </label>
              <select id="role_select" name="roleSelect" class="form-control">
                <option>Choose role</option>
                <% for(var i = 0; i < roles.length; i++) {%>
                   <option id="role_<%= roles[i].short_name %>"><%= roles[i].name %></option>
                <% } %>
                <option id="role_other">Other</option>
              </select>
            </div>

          </form>
	</div><!-- /panel-body -->
    </div><!-- /panel -->
    <div class="panel panel-default" id="role_contents">
      <div class="panel-body">

	<h2>Ideas</h2>

	<ul class="idea_list">
	  <% for(var i = 0; i < ideas.length; i++) {%>
	     <li class="idea_list_item">
	       <h3><%= ideas[i].title %></h3>
	       <p><%= ideas[i].description %></p>
	       <p>Wanted volunteers to roles:</p>
	       <ul>
		 <% for(var j = 0; j < ideas[i].neededRoles.length; j++) {%>
		    <% for(var k = 0; k < roles.length; k++) {%>
		       <!--<li><%= ideas[i].neededRoles[j] %> vs. <%= roles[k]._id %>-->
		       <% if(roles[k]._id == ideas[i].neededRoles[j]) {%> 
			  <li><%= roles[k].name %>
			    <%= ideas[i].neededRoles[j] %>
			    <%= roles[k]._id %>
		       <% } %>
                    <% } %>
		 <% } %>
	       </ul>
	  <% } %>
	<p>Relevant content for the selected role comes here</p>
      </div><!-- /panel-body -->
    </div><!-- /panel -->
  </div><!-- /container -->

  <% include footer %>

  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script type="text/javascript" src="/js/volunteer.js"></script>
</body>
</html>
